<igx-card type="outlined" class="card">
  <igx-card-header>
    <h3 igxCardHeaderTitle>
      Title goes here...
    </h3>
    <h5 igxCardHeaderSubtitle>
      Subtitle goes here...
    </h5>
  </igx-card-header>
  <igx-card-content class="body-content"></igx-card-content>
  <igx-card-actions class="actions-content">
    <button igxButton="flat" igxRipple class="button">
      Button
    </button>
    <button igxButton="icon" igxRipple>
      <igx-icon>
        favorite
      </igx-icon>
    </button>
    <button igxButton="icon" igxRipple>
      <igx-icon>
        bookmark
      </igx-icon>
    </button>
    <button igxButton="icon" igxRipple>
      <igx-icon>
        share
      </igx-icon>
    </button>
  </igx-card-actions>
</igx-card>
